/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
web_api_miniAPI_laravel - Bitacora_Aprendizaje_Laravel11.docx
web_api_miniAPI_laravel.mwb.bak
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
